.next
.env
.env.local
node_modules
out
next-env.d.ts
tsconfig.tsbuildinfo

# Nix
.devenv/
.direnv/

# OS
**/.DS_Store

# Editor
.vscode/

# amplify
.amplify
amplify_outputs*
!amplify_outputs.example.json
amplifyconfiguration*
